doctype html
html
    head 
        title Ankit's Dance Academy
        style
            include ../static/style.css
    body 
        nav#navbar 
            ul
                div#logo
                    img(src="static/img/logo.png", alt="logo")
                    | ADA
                li #[a(href= '/') HOME] 
                li #[a(href= '/') ABOUT] 
                li #[a(href= '/') SERVICES] 
                li #[a(href= '/') CLASS INFO] 
                li #[a(href= '/') CONTACT US] 

        section#introSection
            div Welcome to Ankit's Dance Academy
            div.small Eat Sleep Dance Repeat

        section#missionSection
            h2 Our Mission 
            div.card 
                h3 Dance Perfection
                div.card-box
                    div.card-img 
                        img(src="/static/img/1.png")
                    div.card-content 
                        p This is the best dance acaedemy of the galaxy
            div.card 
                h3 Dance the way u like
                div.card-box
                    div.card-img 
                        img(src="/static/img/2.png")
                    div.card-content 
                        p This is the best dance acaedemy of the galaxy
            div.card 
                h3 Expert Teaching
                div.card-box
                    div.card-img 
                        img(src="/static/img/3.png")
                    div.card-content 
                        p This is the best dance acaedemy of the galaxy

        section#sponsorSection
            h2 Our Sponsors 
            div#sponsors
                img(src="/static/img/logo1.png", alt="apple", class="spImage")
                img(src="/static/img/logo2.png", alt="microsoft", class="spImage")
                img(src="/static/img/logo3.png", alt="hp", class="spImage")
                img(src="/static/img/logo4.png", alt="skype", class="spImage")

        footer#footer 
            | Copyright © 2021 AnkitsDanceAcademy.com | All rights reserved

        script 
            include ../static/index.js
