*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgb(8, 6, 3);
    padding: 3px 12px;
}
ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style: none;
    padding: 12px 25px;
}

a{
    text-decoration: none;
    font-weight: bolder;
    color: azure;
}

h2{
    text-align: center;
    color: bisque;
    text-shadow: 0px 0px 5px black, 0px 0px 5px black,0px 0px 5px black;
}

body::before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: url("https://source.unsplash.com/500x350/?gym") no-repeat center center/cover;
    z-index: -5;
    opacity: 0.7;
}

.container{
    margin: 25px auto;
    /* background-color: chartreuse; */
    max-width: 85%;
}

input, textarea{
    display: block;
    padding: 5px;
    margin: 10px auto;
    width: 60%;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

.btn{
    margin: auto;
    display: block;
    width: 60%;
    padding: 12px 0;
    background: rgb(105, 255, 85);
    font-size: 15px;
    font-weight: bold;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}